/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reutilizaveis */

html {
    font-size: 16px;
}

.bi {
    font-size: 24px;
}

.fadeIn {
    animation: animation__fadeIn .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes animation__fadeIn {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    animation: animation__fadeOut .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes animation__fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    } 
    100% {
        visibility: hidden;
        opacity: 0;
    }
}
